*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.navbar__title {
  width: 100%;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(139, 139, 139, 0.767);
          box-shadow: 0px 3px 10px 0px rgba(139, 139, 139, 0.767);
}

.navbar__title__img {
  width: 45%;
}

.navbar__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #e4e4e4;
}

.navbar__localisation__icon {
  font-size: 18px;
  padding: 10px;
}

.navbar__localisation__txt {
  font-size: 18px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

/* loader */
.global__Loader {
  height: 100%;
  width: 100%;
  -webkit-animation: body 3s ease-in-out;
          animation: body 3s ease-in-out;
}

.section {
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-linear-gradient(-80deg, #FF79DA, #9356DC);
  height: 100%;
  width: 100%;
  -webkit-animation: close  linear 3s;
          animation: close  linear 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
}

.section__loader {
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  display: inline-block;
  position: relative;
}

.section__loader-quart {
  border-radius: 50%;
  position: relative;
}

.section__loader-quart::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -8px;
  right: -6px;
  bottom: -6px;
  border: 6px solid  transparent;
  border-top-color: #FFF;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear 4;
  animation: spin 0.8s linear 4;
}

.section__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img {
  position: absolute;
  width: 500px;
  height: 500px;
}

.img.assiette {
  -webkit-animation: assiette 1s ease-in-out;
          animation: assiette 1s ease-in-out;
}

.img.fourchette {
  -webkit-transform: translate(-999px, 500px);
          transform: translate(-999px, 500px);
  -webkit-animation: fourchette 1s ease-in-out;
          animation: fourchette 1s ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.img.couteau {
  -webkit-transform: translate(999px, 500px);
          transform: translate(999px, 500px);
  -webkit-animation: couteau 1s ease-in-out;
          animation: couteau 1s ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes close {
  0% {
    height: 100%;
  }
  90% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes close {
  0% {
    height: 100%;
  }
  90% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes body {
  0% {
    overflow: hidden;
    height: 0%;
  }
  100% {
    height: 0%;
    overflow: hidden;
  }
}

@keyframes body {
  0% {
    overflow: hidden;
    height: 0%;
  }
  100% {
    height: 0%;
    overflow: hidden;
  }
}

@-webkit-keyframes assiette {
  0% {
    -webkit-transform: translate(999px, 999px);
            transform: translate(999px, 999px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes assiette {
  0% {
    -webkit-transform: translate(999px, 999px);
            transform: translate(999px, 999px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes fourchette {
  0% {
    -webkit-transform: translate(-999px, 500px);
            transform: translate(-999px, 500px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes fourchette {
  0% {
    -webkit-transform: translate(-999px, 500px);
            transform: translate(-999px, 500px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes couteau {
  0% {
    -webkit-transform: translate(999px, 500px);
            transform: translate(999px, 500px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes couteau {
  0% {
    -webkit-transform: translate(999px, 500px);
            transform: translate(999px, 500px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(240, 240, 240, 0.74);
  padding: 50px;
}

.reservation__title {
  padding: 20px;
  font-size: 30px;
}

.reservation__txt {
  padding: 0px;
  font-size: 20px;
  margin-bottom: 30px;
}

.reservation__btn {
  font-size: 20px;
  padding: 15px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.reservation__btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.44);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.fonctionnement__title {
  font-size: 29px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement__container__content {
  -webkit-animation: 0.8s linear 0.3s starte;
          animation: 0.8s linear 0.3s starte;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
}

.fonctionnement__container__content:hover {
  background-color: #9256dc1e;
  cursor: pointer;
}

.fonctionnement__container__content__num {
  position: relative;
  font-size: 16px;
  right: 15px;
  height: auto;
  width: auto;
  border-radius: 50%;
  padding: 8px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #9356DC;
}

.fonctionnement__container__content__icons {
  margin: 10px;
}

.fonctionnement__container__content__icons__icon {
  font-size: 18px;
}

.fonctionnement__container__content__icon {
  margin: 10px;
  font-size: 18px;
}

.fonctionnement__container__content__txt {
  font-size: 20px;
  padding: 25px;
  padding-left: 20px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(240, 240, 240, 0.678);
  width: 100%;
  margin-top: 30px;
  padding-bottom: 50px;
}

.restaurants__title {
  font-size: 30px;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.restaurants__containers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__containers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
}

.restaurants__containers__content__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 190px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants__containers__content__img__new {
  text-align: right;
  font-size: 18px;
  width: auto;
  position: relative;
  top: 15px;
  right: 15px;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7%;
  background-color: #99E2D0;
}

.restaurants__containers__content__img.img--0 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.restaurants__containers__content__img.img--1 {
  background-position: 50% 62%;
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.restaurants__containers__content__img.img--2 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.restaurants__containers__content__img.img--3 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaurants__containers__content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  width: 98%;
  max-width: 100%;
}

.restaurants__containers__content__description__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 10px;
  text-align: left;
}

.restaurants__containers__content__description__title {
  font-size: 22px;
}

.restaurants__containers__content__description__localisation {
  font-size: 22px;
}

.restaurants__containers__content__description__icon {
  font-size: 30px;
}

.restaurants__containers__content__description__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
  width: 40px;
  height: 30px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-right: 20px;
}

.restaurants__containers__content__description__icons:hover {
  cursor: pointer;
}

.restaurants__containers__content__description__icons:hover:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.restaurants__containers__content__description__icons:hover .desactive {
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.restaurants__containers__content__description__icons:hover .active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: -webkit-linear-gradient(80deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.restaurants__containers__content__description__icons__icon {
  font-size: 30px;
}

.active {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.footer {
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  width: 100%;
  padding: 0px;
  padding-bottom: 20px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 25px;
}

.footer__content__img {
  width: 35%;
  color: transparent;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding: 10px;
  padding-left: 5px;
}

.footer__content__lien {
  color: white;
  font-size: 20px;
  margin: 2px;
}

.footer__content__lien__icon {
  font-size: 16px;
  padding: 5px;
}
/*# sourceMappingURL=main.css.map */