*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header{
    width: 100%;
    
}
.navbar{

    display: flex;
    flex-direction: column;
    width: 100%;
    &__title{
        
        width: 100%;
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0px;
        z-index: 1;
        box-shadow: 0px 3px 10px 0px rgba(139, 139, 139, 0.767);
        &__img{
            width: 45%;
        }
    }
    &__localisation{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        background-color: rgb(228, 228, 228);

        &__icon{
            font-size: 18px;
            padding: 10px;
        }

        &__txt{
            font-size: 18px;
            padding: 20px;
        }
    } 
}
a{
    text-decoration: none;
    color: black;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.74);
    padding: 50px;
    &__title{
        padding: 20px;
        font-size: 30px;
    }
    &__txt{
        padding: 0px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &__btn{
        font-size: 20px;
        padding: 15px;
        border-radius: 30px;
        color: white;
        text-decoration: none;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
        background: linear-gradient(175deg, #FF79DA, #9356DC);
    }
}
.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    

    &__title{
        font-size: 29px;
        text-align: left;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        &__content{
            animation: 0.8s linear 0.3s starte;        
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 85%;
            margin: 20px;
            padding: 5px;
            border-radius: 20px;
            background-color: rgb(250, 250, 250);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);
            &:hover{
                background-color: #9256dc1e;
                cursor: pointer;
            }
            &__num{
                position: relative;
                font-size: 16px;
                right: 15px;
                height: auto;
                width: auto;
                border-radius: 50%;
                padding: 8px;
                color: white;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #9356DC;
            }
            &__icons{
                margin: 10px;
                &__icon{
                    font-size: 18px;
                }
            }
            &__icon{
                margin: 10px;
                font-size: 18px;
                
            }
            &__txt{
                font-size: 20px;
                padding: 25px;
                padding-left: 20px;
            }
        }
    }
}
.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(240, 240, 240, 0.678);

    width: 100%;
    margin-top: 30px;
    padding-bottom: 50px;

    &__title{
        font-size: 30px;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 10px;

        text-align: left;
    }
    &__containers{
        
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__content{
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 500px;
            width: 90%;
            border-radius: 20px;
            margin-top: 20px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.44);

            &__img{

                
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 190px;
                width: 100%;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
                &__new{
                    text-align: right;
                    font-size: 18px;
                    width: auto;
                    position: relative;
                    top: 15px;
                    right: 15px;
                    padding: 12px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 7%;
                    background-color: #99E2D0;

                }

            &.img--0{
                background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg); 
            }
            &.img--1{
                background-position: 50% 62%;
                background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            }
            &.img--2{
                background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }
            &.img--3{
                background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);  
            }
            }
            
            &__description{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 10px;
                width: 98%;
                max-width: 100%;
                
                &__txt{ 
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding: 10px;
                    text-align:  left;

                }
                &__title{
                    font-size: 22px;
                }
                &__localisation{
                    font-size: 22px;

                }
                &__icon{
                    
                    font-size: 30px;
                    
                     
                   
                }
                &__icons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: bottom;
                    width: 40px;
                    height: 30px;
                    overflow: hidden;
                    transition: all 0.2s linear;
                    margin-right: 20px ;
                    &:hover{
                        cursor: pointer;

                        &:active{
                            transform: scale(1.2);
                        }
                           
                            & .desactive{
                                opacity: 0;
                                transition: all 0.2s linear ;
                            }
                        
                            & .active{
                               transform: translateY(-100%);
                                background: -webkit-linear-gradient(80deg, #FF79DA, #9356DC);
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                                opacity: 1;
                                transition: all 0.2s linear;

                            }
                        }
                    &__icon{
                        
                        font-size: 30px;
                    
                        
                    }
                }
            }
        }
    }
}
.active{
    
    opacity: 0;
    transition: all 0.5s linear;
    
   
}

.footer{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    width: 100%;
    padding: 0px;
    padding-bottom: 20px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 25px;
    
        &__img{
            width: 35%;
            color: transparent;
            filter: invert(100%);
           padding: 10px;
           padding-left: 5px;

        }
        &__lien{
            color: white;
            font-size: 20px;
            margin: 2px;

            &__icon{
                font-size: 16px;
                padding: 5px;
            }
        }
    }
}