*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
   font-family: 'Roboto', sans-serif;
}
/* nav bar */
header{
    width: 100%;
    background-color: white;
    
}
a{
    color: black;
}
.navbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 63px;

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 20px 15px 20px;
        width: 20%;
        
       
        & a i{

            font-size: 20px;
        }
    }
    &__title{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        width: 100%;
        

        &__img{
           margin: 10px 10px 0px 0px;
            width: 165px;
            
        }
    }
    &__none{
        width: 20%;
        height: 100%;
    } 
}
/* background image */
.img__content{
        overflow: hidden;
    
.img{
    width: 100%;
    min-height: 260px;
    object-fit: cover;
    background-position: top;
    object-position: top;

   } 
}
/* list of dishes */
.ListOfDishes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

}
.container{ 
    width: 100%;
    position: relative;
    bottom: 45px;
    z-index: 1;
    background-color: #f5f5f5 ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
    &__content{
              
        &__title{
            font-family: 'Shrikhand', cursive;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 17px;
            padding-top: 22px;
            padding-left: 15px;
            margin-bottom: 15px;

            &__h1{
                padding: 10px;
            }

            &__icons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 35px;
                height: 35px;
                overflow: hidden;
                transition: all 0.2s linear;
                margin-right: 20px ;
                &:active{

                    cursor: pointer;
                        & .desactive{
                            opacity: 0;
                            transition: all 0.2s linear ;
                        }
                    
                        & .active{
                           transform: translateY(-100%);
                            background: -webkit-linear-gradient(80deg, #FF79DA, #9356DC);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            opacity: 1;
                            transition: all 0.2s linear;

                        }
                }
                &__icon{
                    font-size: 30px;
                    
                }
            }
        }
    }
    &__entre{
        width: 100%;
        &__title{

             padding-left: 20px;
             padding-bottom: 5px;
             

            &__h2{
           
            font-size: 17px;
            font-weight: lighter;
            margin-top: 10px;
            margin-bottom: 5px;
            }
            &__souligne{
                width: 40px;
                height: 3px;
                background-color: #99E2D0;
            
            }
        }
        
        &__anim{
            display: flex;
            align-items: center ;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
            width: 100%;
            max-width: 100%;
            height: 100%;
            
            animation: 0.8s ease-in 1s secondStep;
         }
         
        &__content{
            
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         overflow: hidden;
         height: 100%;
         
         max-height: 69px;
         background-color: white;
         box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.102);
         width: 92%;
         margin: 10px 7px 3px;
         border-radius: 15px;
         animation: 0.8s ease-in 1s firstStep;
        &:hover{

             cursor: pointer;
        }
         
 
        &:hover &__titles__none{
             
            width: 70px;
            height: 100%;
            padding: 23px;
            opacity: 1;
            
            transition: all 1s,  padding 0.2s linear;
        }

        &:hover &__titles__none i{
            animation: 0.5s linear 0.2s turn;
        }
 
         &__titles{
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin-left: 5px;
              
                
             
             &__none{
                 overflow: hidden;
                 width: 0%;
                 height: 100%;
                
                 opacity: 0;
                 font-size: 25px;
                 background-color: #99E2D0;
                 padding-left: 0px;
                 padding-right: 0px;
                 padding-top: 22px;
                 padding-bottom: 22px;
                 border-top-right-radius: 20px;
                 border-bottom-right-radius: 20px;
                 
                 
                 transition: all 1s linear;
                
                 & i{
                     
                     color: white;
                 }
             }
            
             &__title{
                
                 display: flex;
                 flex-direction: column;
                 align-items: baseline;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 white-space: nowrap;
                 height: 100%;
                 
               
                 &__h1{
                     width: 100%;
                     font-size: 17px;
                     padding-left: 5px;
                     padding-bottom: 7px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                     font-weight: 700;
                 }
                 &__h2{
                     
                     width: 100%;
                     font-size: 14px;
                     word-spacing: -1px;
                     padding-left: 5px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;
 
                 }
             }
             &__prix{
                 display: flex;
                 align-items: flex-end;

                 margin: 20px 10px 0px 0px;
                 padding: 10px;
                 font-weight: 600;
                 font-size: 15px;
                 
                
             }
         }
 
     }
    }
    &__plats{
        width: 100%;
        margin-top: 20px;
        &__title{

            padding-left: 20px;
            
            

           &__h2{
          
           font-size: 16px;
           font-weight: lighter;
           margin-top: 7px;
           margin-bottom: 6px;
           }
           &__souligne{
               width: 45px;
               height: 3px;
               background-color: #99E2D0;
           
           }
       }
       
       &__anim{
           display: flex;
           align-items: center ;
           flex-direction: column;
           justify-content: space-around;
           overflow: hidden;
           width: 100%;
           max-width: 100%;
           height: 100%;
           margin-top: 5px;
           animation: 0.8s ease-in 1s secondStep;
        }
        
       &__content{
           
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        height: 100%;
        max-height: 70px;
        background-color: white;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.147);
        width: 92%;
        margin: 10px 0px 7px 0px;
        border-radius: 15px;
        animation: 0.8s ease-in 1s firstStep;
        &:hover{

            cursor: pointer;
        }
        

        &:hover &__titles__none{
            
               width: 70px;
               height: 100%;
               padding: 23px;
               opacity: 1;
               
               transition: all 1s,  padding 0.2s linear;
            }
            &:hover &__titles__none i{
               animation: 0.5s linear 0.2s turn;
            }

        &__titles{
               overflow: hidden;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
               width: 100%;
               height: 100%;
               margin-left: 5px;
             
               
            
            &__none{
                overflow: hidden;
                width: 0%;
                height: 100%;
               
                opacity: 0;
                font-size: 25px;
                background-color: #99E2D0;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 22px;
                padding-bottom: 22px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                
                
                transition: all 1s linear;
               
                & i{
                    
                    color: white;
                }
            }
           
            &__title{
               
                display: flex;
                flex-direction: column;
                align-items: baseline;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 100%;
                
              
                &__h1{
                    width: 100%;
                    font-size: 17px;
                    padding-left: 5px;
                    padding-bottom: 7px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 700;
                }
                &__h2{
                    
                    width: 100%;
                    font-size: 14px;
                    word-spacing: -1px;
                    padding-left: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                }
            }
            &__prix{
                display: flex;
                align-items: flex-end;

                margin: 20px 10px 0px 0px;
                padding: 10px;
                font-weight: 600;
                font-size: 15px;
                
               
            }
        }

    }
    }
    &__desserts{
        width: 100%;
        margin-top: 30px;
        &__title{

            padding-left: 20px;
            
            

           &__h2{
          
           font-size: 16px;
           font-weight: lighter;
           margin-top: 7px;
           margin-bottom: 6px;
           }
           &__souligne{
               width: 45px;
               height: 3px;
               background-color: #99E2D0;
           
           }
       }
       
       &__anim{
           display: flex;
           align-items: center ;
           flex-direction: column;
           justify-content: space-around;
           overflow: hidden;
           width: 100%;
           max-width: 100%;
           height: 100%;
           margin-top: 5px;
           animation: 0.8s ease-in 1s secondStep;
        }
        
       &__content{
           
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        height: 100%;
        max-height: 70px;
        background-color: white;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.147);
        width: 92%;
        margin: 10px 0px 7px 0px;
        border-radius: 15px;
        animation: 0.8s ease-in 1s firstStep;
        &:hover{

            cursor: pointer;
        }
        

        &:hover &__titles__none{
            
               width: 70px;
               height: 100%;
               padding: 23px;
               opacity: 1;
               
               transition: all 1s,  padding 0.2s linear;
            }
            &:hover &__titles__none i{
               animation: 0.5s linear 0.2s turn;
            }

        &__titles{
               overflow: hidden;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
               width: 100%;
               height: 100%;
               margin-left: 5px;
             
               
            
            &__none{
                overflow: hidden;
                width: 0%;
                height: 100%;
               
                opacity: 0;
                font-size: 25px;
                background-color: #99E2D0;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 22px;
                padding-bottom: 22px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                
                
                transition: all 1s linear;
               
                & i{
                    
                    color: white;
                }
            }
           
            &__title{
               
                display: flex;
                flex-direction: column;
                align-items: baseline;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 100%;
                
              
                &__h1{
                    width: 100%;
                    font-size: 17px;
                    padding-left: 5px;
                    padding-bottom: 7px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 700;
                }
                &__h2{
                    
                    width: 100%;
                    font-size: 14px;
                    word-spacing: -1px;
                    padding-left: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                }
            }
            &__prix{
                display: flex;
                align-items: flex-end;

                margin: 20px 10px 0px 0px;
                padding: 10px;
                font-weight: 600;
                font-size: 15px;
                
               
            }
        }

    }
    }
    &__btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px 20px 15px 0px;
        
        &__title{
            font-size: 15px;
            font-weight: 100;
            color: whitesmoke;
            background: -webkit-linear-gradient(-80deg, #FF79DA, #9356DC);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.103);

            padding: 17px 50px; 
         
            border-radius: 50px;     
            transition: all 0.2s linear;
            &:hover{
            cursor: pointer;
            filter: brightness(1.1);
            transition: all 0.2s linear;
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.44);
            }
        }
    }
}
.active{
    opacity: 0;
    transition: all 0.5s linear;
}
.sous-titre{
    color: rgb(120, 120, 120);
}

/* animation loader */
@keyframes firstStep {
    0%{
        margin-top: 20px;
        opacity: 0;
    }
    
    100%{
        margin-top: 10px; 
        opacity: 1;
    }
}

@keyframes secondStep {
    0%{ 
        opacity: 0;
        height: 0px;
    }
    80%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        height: 250px;
    }
}
/* animation list of dishes */
@keyframes turn {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}
a{
    text-decoration: none;
}
/* footer */
.footer{
    background-color: rgba(53,53,53,255);
    color: white;
    width: 100%;
    padding: 0px;
    padding-bottom: 20px;
    
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 15px 20px 13px;
        
        padding-bottom: 10px;
    
        &__img{
            width: 33%;
            color: transparent;
            -webkit-filter: invert(100%);
                    filter: invert(100%);
           padding: 12px;
           margin-bottom: 5px;
           padding-left: 5px;

        }
        &__lien{
            color: white;
            font-size: 16px;
            margin: 4px;
            

            &__icon{
                font-size: 14px;
                padding: 0px 15px 0px 0px;
                width: 20px;
            }
        }
    }
}
